{% set shown = display_labels(labels) %}{% if shown %}{{ labels_html(shown) }}<br>{% endif %}{% if extra and extra.watched %}🚩 {% endif %}{{ action | action_emoji }} <b>{{ action | ru_action }}</b>{{ who(assignees) }}<br>
<a href="{{ url | safe_url }}">#{{ iid }}</a> <b>{{ title | truncate(120, true, '…', 0) }}</b>
