{% if labels %}{{ labels_html(labels) }}<br>{% endif %}{{ action | action_emoji }} <b>{{ action | ru_action }}</b>{{ who(assignees) }}<br>
<a href="{{ url | safe_url }}">#{{ iid }}</a> <b>{{ title | truncate(120, true, '…', 0) }}</b>
