{% if labels %}{{ labels_html(labels) }}<br>{% endif %}⏰ <b>Просрочено</b> (дедлайн был {{ due | ru_date }}){{ who(assignees) }}<br>
<a href="{{ url }}">#{{ iid }}</a> <b>{{ title | truncate(120, true, '…', 0) }}</b>
